---
import { languages, defaultLang } from "../i18n/ui";
import { type Languages } from "i18n/utils";

const currentLang = (Astro.currentLocale as Languages) || defaultLang;

const currentUrl = Astro.url.pathname;

const getLocaleUrl = (lang: string) => {
  // Strip the locale from the current URL if it's there
  if (currentUrl.startsWith(`/${currentLang}`)) {
    if (lang === defaultLang) {
      return currentUrl.replace(`/${currentLang}`, "");
    } else {
      return currentUrl.replace(`/${currentLang}`, `/${lang}`);
    }
  } else {
    if (lang === defaultLang) {
      return currentUrl;
    } else {
      return `/${lang}${currentUrl}`;
    }
  }
};
---

<div class="flex gap-x-2">
  <a>|</a>
  {
    Object.entries(languages).map(([key, language]) => (
      <>
        <a
          href={key === currentLang ? "#" : `${getLocaleUrl(key)}`}
          class="text-gray-700 hover:text-gray-900"
        >
          <span class={`fi fi-${language.countryCode}`} />
        </a>
        <a>|</a>
      </>
    ))
  }
</div>
