---
import type { CollectionEntry } from 'astro:content';
import generateSlug from '~/utils/slugify';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;

// Helper function to get the most recent date for a post
const getPostDate = (post: CollectionEntry<'blog'>) => {
  return post.data.modDatetime || post.data.pubDatetime;
};

// console.log(posts.map((post) => post.filePath));

// Sort posts by date (newest first) and group by year
const postsByYear = posts
  .sort((a, b) => getPostDate(b).getTime() - getPostDate(a).getTime())
  .reduce(
    (acc, post) => {
      const date = getPostDate(post);
      const year = date.getFullYear();
      if (!acc[year]) {
        acc[year] = [];
      }
      acc[year].push(post);
      return acc;
    },
    {} as Record<number, CollectionEntry<'blog'>[]>
  );

// Get years in descending order
const years = Object.keys(postsByYear)
  .map(Number)
  .sort((a, b) => b - a);

// Log the ids
// console.log(posts.map((post) => post.id));

const locale = Astro.currentLocale;
---

{
  years.map((year) => (
    <div class="mb-8">
      <h2 class="text-2xl font-bold mb-4">{year}</h2>
      <ul class="space-y-4">
        {postsByYear[year].map((post) => {
          const date = getPostDate(post);
          const formattedDate = `${date.getDate().toString().padStart(2, '0')}.${(date.getMonth() + 1).toString().padStart(2, '0')}`;
          return (
            <li class="flex items-start">
              <span class="text-gray-500 w-12 flex-shrink-0 text-right mr-4">{formattedDate}</span>
              <a href={`/${locale !== 'en' ? `${locale}/` : ''}blog/${generateSlug(post)}/`} class="hover:underline">
                {post.data.title}
              </a>
            </li>
          );
        })}
      </ul>
    </div>
  ))
}
