---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import Header from "@components/Header.astro";

// i18n
import {
  useTranslations,
  defaultLang,
  stripLocalePrefix,
  type Languages,
} from "i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";
const currentLang = (Astro.currentLocale as Languages) || defaultLang;
const t = useTranslations(currentLang);

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---

<Layout title={`${t("posts.posts")} | ${t("site.title")}`}>
  <Header activeNav="blog" search />
  <Main pageTitle={t("posts.posts")} pageDesc={t("posts.pageDesc")}>
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card
            href={`${getRelativeLocaleUrl(currentLang, "blog")}${stripLocalePrefix(slug)}/`}
            frontmatter={data}
            locale={currentLang}
          />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`${getRelativeLocaleUrl(currentLang, "blog")}all${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`${getRelativeLocaleUrl(currentLang, "blog")}all/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
