---
import { type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import Pagination from "@components/Pagination.astro";
import {
  useTranslations,
  defaultLang,
  type Languages,
  stripLocalePrefix,
} from "i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

// i18n
const currentLang = (Astro.currentLocale as Languages) || defaultLang;
const t = useTranslations(currentLang);

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
  tag: string;
  tagName: string;
}

const { currentPage, totalPages, paginatedPosts, tag, tagName } = Astro.props;
---

<Layout title={`${t("tagPosts.tag")}: ${tagName} | ${t("site.title")}`}>
  <Header activeNav="tags" />
  <Main
    pageTitle={[`${t("tagPosts.tag")}:`, `${tagName}`]}
    titleTransition={tag}
    pageDesc={`${t("tagPosts.desc")} "${tagName}".`}
  >
    <h1 slot="title" transition:name={tag}>{`${t("tagPosts.tag")}:${tag}`}</h1>
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card
            href={`${getRelativeLocaleUrl(currentLang, "blog")}${stripLocalePrefix(slug)}/`}
            frontmatter={data}
            locale={currentLang}
          />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`${getRelativeLocaleUrl(currentLang, "blog")}tags/${tag}${
      currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""
    }/`}
    nextUrl={`${getRelativeLocaleUrl(currentLang, "blog")}tags/${tag}/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
